@model Period

@{
    ViewData["Title"] = "Details";
}

<h4>Details of Period @Model.Name </h4>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning"><i class="fa-solid fa-pen me-2"></i>  Edit</a> 
    <a asp-action="Index" class="btn btn-outline-dark"><i class="fa-solid fa-arrow-left me-2"></i> Back to List</a>
</div>
